.panel {
  width: 80%;
  margin: 50px auto;
}

.pull-down-20 { margin-top: 20px; }
.pull-down-30 { margin-top: 30px; }
.pull-down-40 { margin-top: 40px; }

.pull-left-20 { margin-right: 20px }
.pull-left-30 { margin-right: 30px }
.pull-left-40 { margin-right: 40px }

.pull-right-20 { margin-left: 20px }
.pull-right-30 { margin-left: 30px }
.pull-right-40 { margin-left: 40px }

